/* Dashboard container */
.dashboard {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
}

@media (min-width: 960px) {
  .dashboard {
    height: 100%;
  }
}

@media (min-width: 360px) {
  .dashboard {
    padding: 1rem;
  }
}

/*
box
1-total assets
2-total rooms
3-total custodian
4-open reports
5-pending transfer
6-audit
7-donut breakdown
8-category bar list
9- par ics
*/
